* {
    box-sizing: border-box;
  }
  body {
    background: #eee;
  }
  p {
    text-align: center;
  }
  button {
    margin-left: 1em;
    background: #159fff;
    border: none;
    padding: 0.5em 2em;
    color: white;
    text-transform: uppercase;
  }
  button:hover {
    background: #0094fb;
  }
  #chart {
    background: #fff;
    width: 90%;
    margin: 1em auto;
  }
  .graphinfo{
    background-clip: border-box;
    border-top: 1px solid rgba(67, 99, 151, 0.325);
    /* border-radius: 0.25rem; */
    /* background: #fff; */
    /* margin-bottom: 10px; */
    padding: 3px 10px 0px 10px;
    text-align: center;
    font-weight: 600!important;
    /* -webkit-box-shadow: 0 0 10px #e8e8e8; */
    /* box-shadow: 0 0 10px #e8e8e8; */
    }
    h5{
      font-weight: 600!important;
    }
  .graphinfo p{
   font-size: 15px;
   padding: 5px;
  }
  