.Header{
    color: #fff;
}
.nav-link{
    color: #fff;
}
.Header .collapse ul li a{
    color: #fff;
    cursor: pointer;
}
.Header .collapse ul li a:hover{
    background: #fff;
    color: #343a40 !important;
    font-weight: bold;
}

.Header .navbar-dark .navbar-nav .nav-link{
    color: #fff;
}
.Header a{
    cursor: pointer;
}

