.Header{
    color: #fff;
}
.nav-link{
    color: #fff;
}
.Header .collapse ul li a{
    color: #fff;
    cursor: pointer;
}
.Header .collapse ul li a:hover{
    background: #436397;
    color: #fff !important;
    font-weight: bold;
}
.highlight {
    background: #436397;
    color: #fff !important;
    font-weight: bold;    
}
.Header .navbar-dark .navbar-nav .nav-link{
    color: #436397;
    font-weight: 300;
}
.Header a{
    cursor: pointer;
}
.navbar {
        padding: 0rem 1rem!important;
        background-color: #fff !important;
        border-bottom:2px solid #436397;
      }

