/* .card-body{
  font-weight: 600;
  font-size: 17px; 
  } */
  #accordion{
  margin-bottom:30px;
  } 
  #accordion .card{
    border:1px solid rgba(67, 99, 151, 0.325);
 }
  #accordion .card-header{
  background-color: #436397;
  } 
  #accordion .card a{
  color: #fff;
  text-decoration: underline;
  } 
  .analytics .notificationBtn{
  background:#436397;
  color: #fff;
  position: fixed;
  right: 30px;
  bottom: 25px;
  z-index: 9999;
  }
  
  .analytics .datepicker{
  z-index: 999;
  border-radius: 3px;
  height: 35px;
  float: left;
  width: 289px;
  position: relative;
  }
  .analytics .react-datepicker-popper{
  z-index: 999999 ;
  }
  .daterangepicker{
    left:770px!important;
    top:150px!important;
    z-index: 950!important;
  } 
  .date-range-toggle{
    background: #436397!important;  
  }
  .date-template{
    margin-top: 100px!important;
  }
  .analytics h3{
  text-align: left;
  font-size: 20px;
  font-weight: bold; 
  color: #343A40;
  margin-left: 7px;
  margin-top: 8px;
  }
  .analytics span{
  color: #343a40;
  font-size: 13px;
  font-weight: bold;
  } 
  .calandericon{
  position: absolute;
  top: 27px;
  right: 37px;
  z-index: 99999999;
  }
  .calandericon img {
  height: auto;
  width: 25px;
  }
  .lft{
    float: left;
  }
.daterange{
  font-weight: bold;
  float: left;
  margin-right: 7px;
  margin-top: 5px;
}