
.card-body{
    font-weight: 600;
    font-size: 17px; 
  }
  #accordion{
    margin-bottom:30px;
  } 

  #accordion .card-header{
    background-color: #343a40;
  } 
  #accordion .card a{
    color: #fff;
    text-decoration: underline;
  }   
  .analytics .notificationBtn{
    background: rgb(11, 18, 26);
    color: #fff;
    position: fixed;
    right: 30px;
    bottom: 25px;
    z-index: 9999;
  }

  .analytics .datepicker{
    z-index: 9999;
    border-radius: 3px;
    height: 35px;
    float: right;
    width: 290px;
  }
  .analytics .react-datepicker-popper{
      z-index: 999999 ;
  }
  .analytics h3{
    text-align: left;
    font-size: 16px;   
    color: #343A40;
    margin-left: 20px;
    margin-top: 8px;
  }
  .analytics span{
    color: #343a40;
    font-size: 13px;
    font-weight: bold;
  }
