body{
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  /* color: #fff; */
  font-family: Arial;
  font-size:15px;
 }
 
 .dashboardalignment{margin:20px 0px 0 0px;}
 .defaultAlign{
  margin: 0;
  padding: 0 !important;
  }
 .lft{float: left;}
 .clr{clear: both;}
 
 .marginauto{margin: 0 auto;}
 
 .padding-l-5{padding-left: 5px;}
 .padding-l-10{padding-left: 5px;}
 .padding-l-15{padding-left: 5px;}
 .padding-l-5{padding-left: 5px;}
 
 .margin-l-5{margin-left: 5px;}
 .margin-l-45{margin-left: 45px;}
 .margin-l-55{margin-left: 55px;}
 
 .margin-b-20{margin-bottom:20px;}
 .margin-b-60{margin-bottom:60px;}
 .margin-b-30{margin-bottom:30px;}
 
 
 .margin-r-20{margin-right:20px;}
 
 .margin-t-10{margin-top:10px;}
 .margin-t-20{margin-top:20px;}
 .margin-t-30{margin-top:30px;}
 .margin-t-55{margin-top:55px;}
 .margin-t-60{margin-top:60px;}
 .margin-t-65{margin-top:65px;}
 .margin-t-70{margin-top:70px;}
 .margin-t-75{margin-top:75px;}
 .margin-t-90{margin-top:90px;}
 .margin-t-95{margin-top:95px;}
 .margin-t-100{margin-top:100px;}
 
 .margin-lr-25{margin : 0 25px;}
 
 .chartc3{height: 350px;}
 .text-red{color: #f7115d; }
 .text-success{color: #b2deb1; }
 .text-orange{color: #dd5826; }
 .text-green{color: #28A745; }
 
 .fontsize25{font-size: 25px;}
 .bkg-gray{background: #343A40;}
 
 .displayblock{
  display: block;
 }
 .displaynone{
  display: none;
 }
 .msgconfig .msgbtn{
  background: #343A40;
  border:none;
  outline: none;
  color: #fff;
 }
 
 .msgconfig .msgbtn:hover{
  background: #545b62;
  border:none;
  outline: none;
  color: #fff;
 }
 .msgconfig .graybkg{
  background: #343A40;
  height: 600px;
 }
 .notify .notificationBtn,.email .savebtn,.email .cancelbtn,.sms .savebtn,.sms .cancelbtn,.msgConfig .okbtn,.queue .cancelbtn,.web .cancelbtn{
  width: 120px;
  background:#436397;
  color: #fff;
 }
 .grid .notificationBtn{
 width: 150px;
 background: #343A40;
 color: #fff;
 }
 .email label,.sms label,.msgConfig label,.web label,.msgconfigmain label,.queue label{
  color: #343A40;
  font-weight: bold;
 }
 /*dashboard*/
 .dashboard{
  background: #f5f5f5;
  padding-top: 5px;
 }
 .widget-card{
  position: relative;
  margin-bottom: 20px;
  padding: 14px 10px 0px 10px;
  background: #fff;
  border-radius: .2rem;
  box-shadow: 0 0 10px #e8e8e8;
  overflow: hidden;
 } 
 .widget-card {
  height:80px;
 }
 .widget-body{
  padding: 0px 5px;
 }
 /* .widget-body i{
  font-size: 35px;
 } */
 
 .dashboard .no-margin{
  color: #a4a4a4; 
 }
 .dashboard .fw-normal{
  color: #6d6d6d; 
  font-size: 18px;
 }
 /*GraphCombo*/
 .graphcombo .card{
  border:1px solid rgba(67, 99, 151, 0.325);
 }
 .graphcombo .card-body{
  background: #436397;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 3px 3px 0px 0px;
  font-size: 15px;
 }
 .pagetitle{
  text-decoration: underline;
  font-weight: bold;
  font-size: 22px;
  color: #242A30;
  padding: 10px 0;
}
.msgconfig .formalign{
  margin: 0 auto;
  width: 450px;
  margin-top: 100px;
}
.msgconfig  .graybkg{
  /* border: 1px solid gray;
  border-radius:5px;  */
}
.msgconfig .floatingmenu{
  float: left;
  margin-top: 120px;
}
.msgconfig  .channelicon{
  background: #eaeaea;
    padding: 14px 0px 14px 15px;
    margin-bottom: 3px;
    border-radius: 3px;
}
.floatingmenu i{
  font-size: 18px;
  padding: 1px;
  cursor: pointer;
}
.msgconfig .mobile{
  font-size: 30px;
}

.floatingmenu ul li{
  list-style-type: none;
  padding: 16px 23px 47px 24px;
  margin-bottom: 2px;
  background: #eaeaea;
  cursor: pointer;
  border-radius: 3px;
}
.floatingmenu ul li a{
  cursor: pointer;
  float: left;
}
.floatingmenu ul li:hover{
  background:#343a40 !important;
}
.floatingmenu .button{
  margin-bottom: 2px;
  background: #eaeaea;
  cursor: pointer;
  border-radius: 3px;
  padding: 0;
  height:73px;
  color: #343a40;
}
.floatingmenu .button:hover{
  background: #436397;
  color: #fff;
}
.floatingmenu .buttonicon{
  float: left;
  width: 40px;
}
.floatingmenu .buttonicontext{
  width: 100px;
  font-weight: bold;
  text-align: left;
}
.notify .btn-secondary{
  background:#436397;
  }