
body{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size:15px;
}
.defaultAlign{
	margin: 0;
	padding: 0 !important;
  }
.lft{float: left;}
.padding-l-5{padding-left: 5px;}
.padding-l-10{padding-left: 5px;}
.padding-l-15{padding-left: 5px;}
.padding-l-5{padding-left: 5px;}
.margin-l-5{margin-left: 5px;}
.margin-t-60{margin-top:60px;}
.margin-b-20{margin-bottom:20px;}
.margin-b-60{margin-bottom:60px;}