
body{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-family: Arial;
	font-size:15px;
}
.defaultAlign{
	margin: 0;
	padding: 0 !important;
  }
.lft{float: left;}
.padding-l-5{padding-left: 5px;}
.padding-l-10{padding-left: 5px;}
.padding-l-15{padding-left: 5px;}
.padding-l-5{padding-left: 5px;}
.margin-l-5{margin-left: 5px;}
.margin-t-60{margin-top:60px;}
.margin-b-20{margin-bottom:20px;}
.margin-b-60{margin-bottom:60px;}
.margin-b-30{margin-bottom:30px;}
.margin-t-20{margin-top:20px;}
.margin-t-30{margin-top:30px;}
.margin-r-20{margin-right:20px;}
.margin-t-55{margin-top:55px;}
.margin-t-95{margin-top:95px;}
.margin-t-70{margin-top:70px;}


.msgconfig .msgbtn{
  background: #343A40;
  border:none;
  outline: none;
  color: #fff;
}
.msgconfig .msgbtn:hover{
  background: #545b62;
  border:none;
  outline: none;
  color: #fff;
}
.msgconfig  .graybkg{
  background: #343A40;
  height: 600px;
}
.email .savebtn,.email .cancelbtn,.sms .savebtn,.sms .cancelbtn{
  width: 100px;
  background: #343A40;
  color: #fff;
}


